global
	user haproxy
        group haproxy
        daemon

defaults
        option http-server-close
        timeout http-request 5s
        timeout connect 5s
        timeout client  600s
        timeout server  600s

frontend http-in
        bind *:80
        mode tcp



default_backend http_wg

frontend https-in
	mode tcp
        option tcpka
        bind *:443
        acl tls req.ssl_hello_type 1
        tcp-request inspect-delay 5s
        tcp-request content accept if tls
	acl host_gcloud  req.ssl_sni -i gcloud.gvps.site
	acl host_wg  req.ssl_sni -i wg.gvps.site
	acl host_gvps  req.ssl_sni -m end .gvps.site
        use_backend https_gcloud if host_gcloud
#	use_backend https_wg if host_wg
        use_backend https_backend if host_gvps
        
	#default_backend https_backend

frontend ssh-in
        bind *:22
        mode tcp
        option tcpka
        default_backend ssh_backend

backend ssh_backend
        mode tcp
        option tcpka
        server intranet 10.200.200.254:22

backend http_backend
	mode http
	option tcpka
	server intranet 10.200.200.254:80 

backend https_backend
	mode tcp
	option tcpka
	server intranet 10.200.200.254:443

backend https_gcloud
        mode tcp
        option tcpka
        server intranet 127.0.0.1:8080

backend http_wg
        mode tcp
        option tcpka
        server intranet 127.0.0.1:5000
